@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

.navbar-brand {
  font-size: 1.8em;
  color: red;
}

.flash-container .alert {
  margin-bottom: 0 !important;
}

.thumbnail {
  height: 100px;
  width: 100px;
}

.list-group-item {
  .title {
    font-size: 1.2em;
    font-weight: 500;
  }
  &:hover {
    background-color: darken(white, 3%);
    cursor: pointer;
  }
}

.btn-group {
  padding: 10px;
}

.fa {
  color: gold;
}

.wide-input {
  min-width: 50% !important;
}

.form-group .review {
  margin: 5px;
}

#review {
  margin: 20px;

}
